<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
		<title>My Awesome App</title>
	</head>
	<body>
		<div class="container"><%-body%></div>
	</body>
</html>
