<div class="row">
	<div class="col-md-6 mt-5 mx-auto">
		<h1 class="text-center mb-5">Ajouter un étudiant</h1>
		<form action="/" method="POST">
			<div class="form-group">
				<label for="nom">Nom</label>
				<input
					type="text"
					class="form-control"
					name="nom"
					id="nom"
					aria-describedby="helpId"
					placeholder="Entrer votre nom"
				/>
				<small id="helpId" class="form-text text-muted">
					Nom de l'étudiant
				</small>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input
					type="email"
					class="form-control"
					name="email"
					id="email"
					aria-describedby="emailHelpId"
					placeholder="Entrer votre email"
				/>
				<small id="emailHelpId" class="form-text text-muted">
					Email de l'étudiant
				</small>
			</div>
			<div class="form-group">
				<label for="age">Age</label>
				<input
					type="text"
					class="form-control"
					name="age"
					id="age"
					aria-describedby="helpId"
					placeholder="Entrer votre age"
				/>
				<small id="helpId" class="form-text text-muted">
					Age de l'étudiant
				</small>
			</div>
			<button type="submit" class="btn btn-danger">Ajouter</button>
			<a href="/view" class="text-danger ml-5">Voir la liste des étudiants</a>
		</form>
	</div>
</div>
