<div class="col-md-6 mt-5 mx-auto">
    <h1 class="text-center mb-4">Liste des étudiants</h1>
    <div class="w-100 text-right">
        <a href="/" class="btn btn-danger mb-4 ">Ajouter un étudiant</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <%if (typeof students !== 'undefined'){%>
            <%students.forEach(function(student){%>
            <tr>
                <td scope="row"><%=student.nom%></td>
                <td><%=student.email%></td>
                <td><%=student.age%> ans</td>
            </tr>
            <%})%> <%}%>
        </tbody>
    </table>
</div>
</div>